.statistics {
    text-align: center;
    width: 300px;
    margin: auto;
}

.title {

}

.statlist {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid;
    padding: 8px;
    background-color: #7882A4;
    color: #fff;
}

.item {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
}

.percentage {
    font-weight: bold;
}